# Development
.DS_Store
.idea
.vscode
*.pyc
*.so
.eggs
*.egg-info
.cache
*.sonarlint
.python-version
__pycache__
.pytest_cache
.mypy_cache
.coverage

# Ignore virtual environments
venv
.venv
testing-venv

# Ignore installed dependencies
dist
source/src/build
build

/deployment/open-source
/deployment/state_machines/sample_events/
/deployment/global-s3-assets/
/deployment/regional-s3-assets/
*.swp
