.DS_Store
.idea/
*.pyc
.eggs
*.egg-info
.cache
*.sonarlint
source/tests/__pycache__/
source/lib/__pycache__/
/deployment/state_machines/sample_events/
/source/scratch/
/source/bin/build_scripts/CHANGELOG.json
/deployment/global-s3-assets/
/deployment/regional-s3-assets/
/source/parse*
/source/dateutil/
/source/python_dateutil*
/source/docutils*
/source/futures-*
/source/jmespath*
/source/concurrent/
/source/s3transfer*
/source/six-*
/source/urllib3*
/source/six.py
/source/chardet*
/source/certifi*
/source/idna*
/source/requests*
/source/yorm*
/source/yaml*
/source/jinja2*
/source/markupsafe*
/source/simplejson*
/source/PyYAML*
/source/_yaml/
/source/pathlib2-2.3.6.dist-info/
/source/pathlib2/
