---
#Default region for deploying Custom Control Tower: Code Pipeline, Step functions, Lambda, SSM parameters, and StackSets
region: {{ region }}
version: 2021-03-15

# Control Tower Custom Resources (Service Control Policies or CloudFormation)
resources: []